.navList {
    display: flex;
    gap: 36px;
    list-style: none;
    padding-top: 24px;
    width: 100%;
}

.link {
    font-size: 24px;
    line-height: 1.5;
    padding-bottom: 4px;
    box-sizing: border-box;
    transition: var(--opacity-transition);
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
    color: white;
}

.link:hover {
    opacity: 0.5;
}

.link_active {
    font-weight: 700;
    border-bottom: 2px white solid;
    opacity: 1;
}

.link_active:hover {
    opacity: 1;
}